.theme-bg-login{
  background: url('../images/bg.jpg') no-repeat;
  background-position: center;
  background-size:cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#labelError{
  position: relative;
  background: #FF0040;
  margin: 8px auto;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding: 6px;
  display: none;
}

.login{display: block;}
.register{display: none;}

.theme-center{
  display: flex;
  align-items: center;
}

.with-inner{
  width: inherit;
}

.height-inner{
  width: inherit;
}

main{
      width: 100%;
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-color: #f7b42c;
      background-image: -webkit-linear-gradient(bottom right, #f7b42c 0%, #fc575e 74%);
      background-image: -o-linear-gradient(bottom right, #f7b42c 0%, #fc575e 74%);
      background-image: linear-gradient(to top left, #f7b42c 0%, #fc575e 74%);

}

.containerLogin{
    width: 1000px;
    height: 500px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.theme-abs{
  position:relative;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}


.theme-padding{
  padding: 90px 20px 220px 20px;
}

.picture-center{
  margin: auto;
  display: block;
  position: relative;
}

.theme-btn{
  border-radius: 5px;
  border: none;
  color: black;
  width: inherit;
  background-color: #f7b42c;
}

@media only screen and (max-width: 765px) {
    main{
      padding: 0;
      border-radius: 0;
    }
    .containerLogin{
      height: 100vh;
      width: 100vw;
      border-radius: 0;
    }
}
